.main-img-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
}

.main-img {
  width: 50%;
}

.congrats-img-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.congrats-img {
  width: 33%;
}

.home-button {
  border: none;
  border-radius: 6px 6px 6px 6px;
  background-color: #dba953;
  color: white;
}

@media only screen and (max-width: 1024px) {
  .main-img {
    width: 130%;
  }
}
